{# src/KGC/RdvBundle/Resources/views/Consultation/dupliquer.modal.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}

    {% import 'KGCRdvBundle::blocsficheRDV.html.twig' as fiche %}

        {% block modal_header %}
            {% set link = {
                'txt' : 'Ajouter une consultation ' ~ ( suivi ? 'de suivi' : '') ~ ' pour ' ~ rdv.client.fullName,
                'url' : path('kgc_rdv_dupliquer',{'id':rdv.id, 'suivi':suivi})
            } %}
            {{ parent() }}
        {% endblock %}

        {% block modal_content %}
            <form id="dupliquer_rdv_modal" method="post" action="{{ path('kgc_rdv_dupliquer',{'id':rdv.id}) }}" {{ form_enctype(form) }}
                  class="{{ app.request.isXmlHttpRequest() ? 'ajax_modal_form'}} form-horizontal" {{ form.vars.valid ? 'data-close="1" data-refresh="rdv_securisation,rdv_planning"' }}>
                {{ block('modal_header') }}
                {{ block('modal_main') }}

                {{ form_row(form._token) }}
                {{ form_row(form.mainaction) }}
            </form>
            {# les flashbags sont générés dans le layout général (empty ou html) #}
        {% endblock modal_content %}

        {% block modal_body %}
            {% if form.vars.errors|length > 0 %}
                <p class="alert alert-danger">{{ form_errors(form)}}</p>
            {% endif %}
            {% set label_size = 'col-lg-4 col-xs-5' %}
            {% set input_size = 'col-lg-7 col-xs-3' %}
            <div class="row fiche">
                <div class="col-lg-5">
                    {{ fiche.client({'form':form}) }}
                    {{ fiche.coordonneesbancaires({'form':form, 'add_cb': add_cartebancaire is defined ? add_cartebancaire : false}) }}
                    {{ form_row(form._token) }}
                </div>
                <div class="col-lg-7">
                    {% if not form.vars.valid %}
                        <p class="alert alert-block alert-danger">
                            La consultation n&#039;a pu être enregistrée.
                            {{ form_errors(form)}}
                        </p>
                    {% endif %}
                    {{ fiche.ajouter_consultation_info({'form':form, 'suivi':suivi}) }}
                    {{ fiche.date_consultation({'form':form}) }}
                </div>
            </div>{#
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.client.genre, {'label':'Genre','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.website, {'label':'Site web','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.idAstro.valeur, {'label':'ID myastro','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.source, {'label':'Source','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.support, {'label':'Support','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.gclid, {'label':'GClid','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.codepromo, {'label':'Code Promo','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.formurl, {'label':'URL','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.proprio, {'label':'Propriétaire','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.consultant, {'label':'consultation.info.consultant','label_attr':{'class':label_size},'controls_size':input_size}) }}
                </div>
            </div>
            {{ form_row(form.dateConsultation, {'label':'Date de consultation','label_attr':{'class':label_size},'controls_size':input_size}) }}
            <div class="col-sm-10 col-sm-offset-1">
                <div class="well" id="planning_selection">
                    {{ render(controller("KGCRdvBundle:Planning:widgetSelection")) }}
                </div>
            </div>
            {% if suivi %}
                {{ form_row(form.consultant, {'label':'consultation.info.consultant','label_attr':{'class':label_size},'controls_size':input_size}) }}
            {% endif %}
            {{ form_row(form.voyant, {'label':'Voyant','label_attr':{'class':label_size},'controls_size':input_size}) }}
#}
            {{ render(controller('KGCUserBundle:Elastic:similarity', { 'collapsed' : true})) }}
        {% endblock modal_body %}

        {% block modal_footer %}
            {{ fiche.rdv_form_footer({'form':form, 'rdv':rdv, 'retour' : true, 'no_tags':true, 'submit_color':'success', 'submit_txt':'Enregistrer' }) }}

            <div style="display: none">
                {{ form_rest(form) }}
            </div>
        {% endblock modal_footer %}
    {% endembed %}
{% endblock %}
