{# src/KGC/RdvBundle/Resources/views/Consultation/annuler.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}
        {% import 'KGCRdvBundle::blocsficheRDV.html.twig' as fiche %}

        {% block modal_title %}Reconduire la consultation de {{ rdv.client.fullName }}{% endblock modal_title %}

        {% block modal_content %}
        <form id="pause_rdv_modal" method="post" action="{{ path('kgc_rdv_pause',{'id':rdv.id}) }}" {{ form_enctype(form) }} class="ajax_modal_form form-horizontal">
            {{ parent() }}
            {{ form_widget(form.mainaction) }}
            {{ form_widget(form._token) }}
        </form>
        {% endblock modal_content %}

        {% block modal_body %}
            <div class="row">
                <div class="col-xs-12">
                    Êtes-vous sûr de vouloir reconduire la consultation de &laquo; {{ rdv.client.fullName }} &raquo; prévue le {{ rdv.dateConsultation|date('d/m/Y') ~ " à " ~ rdv.dateConsultation|date('H:i') }} ?
                </div>
            </div>
        {% endblock modal_body %}

        {% block modal_footer %}
            {% if not form %}
                {{ parent() }}
            {% else %}
                {% set retour = app.user.isVoyant ? false : true %}
                {{ fiche.rdv_form_footer({'form':form,'rdv':rdv,'retour': retour, 'target':'_cancel_rdv'}) }}
            {% endif %}
        {% endblock modal_footer %}
    {% endembed %}
{% endblock body %}
