{% block subject %}{{ 'email.subscription.paymentSuccess.subject'|trans({'%siteLabel%': "shared.#{user.origin}.email.siteLabel"|trans({}, 'KGCSharedBundle')}) }}{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'email.subscription.paymentSuccess.body_text'|trans({'%siteLabel%': "shared.#{user.origin}.email.siteLabel"|trans({}, 'KGCSharedBundle'), '%firstName%': user.prenom, '%redirectUrl%': "#{siteUrl}#{sitePrefix}/voyants"}
) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
    {% embed "KGCSharedBundle:#{user.origin|capitalize}:layout.email.twig" %}
        {% block body %}
        <h3 style="{{ h3Style }}">{{ 'email.subscription.paymentSuccess.title'|trans({'%firstName%': user.prenom}) }}</h3>
        {{ 'email.subscription.paymentSuccess.description'|trans({'%amount%': amount}) }}<br />
        <br />
        {{ 'email.subscription.paymentSuccess.redirectPhrase'|trans }}<br />
        <br />
        <p style="text-align :center">
            <a class="button" style="{{ buttonStyle }}" href="{{ "#{siteUrl}#{sitePrefix}/voyants" }}">{{ 'email.subscription.paymentSuccess.buttonText'|trans }}</a>
        </p>
        <br />
        {{ 'email.subscription.paymentSuccess.seeYouSoon'|trans }}<br />
        {% endblock %}
    {% endembed %}
{% endblock %}