{# src/KGC/UserBundle/Resources/views/Utilisateurs/ajouter.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}
        {% block modal_title %}
            Affectation d'un poste téléphonique
        {% endblock %}

        {% block modal_main %}
            <form id="form_add_user" method="post" action="{{ path('kgc_user_poste') }}" {{ form_enctype(form) }} class="ajax_modal_form form-horizontal" data-refresh="#poste_control" {{ close ? 'data-close="1"'}}>
                {{ parent() }}
                {{ form_widget(form._token) }}
            </form>
        {% endblock modal_main %}

        {% block modal_body %}
            <div class="row">
                <div class="col-xs-12">
                    {% if not close and app.session.flashbag.get('info') is defined %}
                        {% for message in app.session.flashbag.get('success') %}
                            <p class="alert alert-success">{{ message|raw }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {{ form_row(form.poste, {'label':'Poste','label_attr':{'class':'col-xs-5'},'controls_size':'col-xs-6'}) }}
        {% endblock %}

        {% block modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="icon-remove"></i> Annuler</button>
                <button type="submit" class="btn btn-sm btn-primary"><i class="icon-ok"></i> Enregistrer</button>
                {{ form_widget(form.fermeture, {'label':" Fermer automatiquement la fiche sʼil n'y a pas d'erreur", 'attr':{'style':'float: left; font-size: 80%'} }) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock body %}
