{# src/KGC/DashboardBundle/Resources/views/Dashboard/menu.html.twig #}

<div class="sidebar-shortcuts sidebar-fixed" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
            <!--<i class="icon-signal"></i>-->
        </button>
        <button class="btn btn-info">
            <!--<i class="icon-pencil"></i>-->
        </button>
        <button class="btn btn-warning">
            <!--<i class="icon-group"></i>-->
        </button>
        <button class="btn btn-danger">
            <!--<i class="icon-cogs"></i>-->
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
    </div>
</div><!-- #sidebar-shortcuts -->
<ul class="nav nav-list">
    {% for lien in liste_liens %}
        <li class="{{ lien.active ? 'active' }} {{ lien.active and lien.subs is defined ? 'open' }}">
            <a href="{{ path(lien.route) }}" {{ lien.subs is defined ? 'class=dropdown-toggle' }}>
                <i class="icon-{{ lien.icone }}"></i>
                <span class="menu-text">{{ lien.intitule }}
                    {% if (lien.badge is defined) and lien.badge > 0 %}
                        <span class="badge badge-primary" style="margin-right:15px">{{ lien.badge }}</span>
                    {% endif %}
                </span>
                {% if lien.subs is defined %}
                    <b class="arrow icon-angle-down"></b>
                {% endif %}
            </a>
            {% if lien.subs is defined %}
                <ul class="submenu">
                    {% for sub in lien.subs %}
                        <li class="{{ sub.active ? 'active' : '' }}">
                            <a href="{{ path(sub.route) }}">
                                <i class="icon-double-angle-right"></i>
                                {{ sub.intitule }}
                            </a>
                            <b class="arrow"></b>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    // récupération du paramètre enregistré
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {
    }
</script>
