{# src/KGC/DashboardBundle/Ressources/views/Dashboard/phoniste.html.twig #}

{% extends "KGCDashboardBundle::layout.html.twig" %}

{% block ariane %}
    {% set fil = ['Tableau de bord'] %}
    {{ parent() }}
{% endblock %}

{% block page_header %}
    {% set reload = { 'url':'#rdv-add, #phoniste_legend, #phoniste_objective, #phoniste_bonuses' } %}
    {{ parent() }}
{% endblock %}

{% block dashboard_body %}
    <div class="row">
        <div class="col-lg-8">
            {% if toComplete is defined and toComplete is not empty %}
            <form method="post" action="{{ path('kgc_rdv_add_by_prospect',{'vue':'widget','id':prospect.id}) }}" class="ajax_load form-horizontal" data-refresh="#phoniste_objective,#phoniste_bonuses" id="rdv-add"></form>
            {% else %}
                <form method="post" action="{{ path('kgc_rdv_add') }}" class="ajax_load form-horizontal" data-refresh="#phoniste_objective,#phoniste_bonuses" id="rdv-add"></form>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <form method="post" action="{{ path('kgc_stat_phoniste_objective') }}" class="ajax_load form-horizontal" id="phoniste_objective"></form>
            <div class="space-6"></div>
            <form method="post" action="{{ path('kgc_stat_phoniste_bonuses') }}" class="ajax_load form-horizontal" id="phoniste_bonuses"></form>
            <div class="space-6"></div>
            <form method="post" action="{{ path('kgc_stat_phoniste_legend') }}" class="ajax_load form-horizontal" id="phoniste_legend"></form>
        </div>
    </div>
{% endblock %}
