{# src/KGC/DashboardBundle/Resources/views/Config/sms.list.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% set widget_options = {
            'titre' : 'Liste de contact',
            'refresh' : '#config_list',
            'no_padding' : true
        } %}

        {% block widget_main %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nombre de contacts</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for l in list %}
                    <tr>
                        <td>{{ l.name }}</td>
                        <td>{{ l.contacts.count() }}</td>
                        <td class="line-actions">
                            <a href="{{ path('kgc_config_campagne_list_contact_edit', {'id': l.id}) }}" class="btn btn-xs btn-primary tooltip-primary modal-load" role="button" title="" data-rel="tooltip" data-placement="left" data-original-title="Éditer la liste">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="{{ path('kgc_config_campagne_contact_list', {'id': l.id}) }}" class="btn btn-xs btn-success tooltip-success modal-load" role="button" title="" data-rel="tooltip" data-placement="left" data-original-title="Liste des contacts">
                                <i class="icon-list"></i>
                            </a>
                            <a href="{{ path('kgc_config_campagne_list_contact_delete', {'id': l.id}) }}" class="btn btn-xs btn-danger tooltip-danger modal-load" role="button" title="" data-rel="tooltip" data-placement="left" data-original-title="Supprimer la liste"  data-close="1">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock widget_main %}

        {% block widget_body_after %}
        <a href="{{ path('kgc_config_campagne_list_contact_edit') }}" class="btn btn-block modal-load" role="button" title="Ajouter une nouvelle liste">
            <i class="icon-plus"></i> Ajouter une nouvelle liste
        </a>
        {% endblock %}
    {% endembed %}
{% endblock body %}
