{# src/KGC/DashboardBundle/Resources/views/Config/payments.list.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% set widget_options = {
            'titre' : 'Moyen de paiement',
            'refresh' : '#config_payments',
            'no_padding' : true,
            'collapse' : true
        } %}

        {% block widget_main %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Code</th>
                        <th>Création</th>
                        <th>Modification</th>
                        <th>Actif</th>
                        <th>Inactif depuis</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                    <tr>
                        <td>{{ o.libelle }}</td>
                        <td>{{ o.idcode }}</td>
                        <td>{{ o.createdAt | date('d/m/Y H:i')}}</td>
                        <td>{{ o.updatedAt | date('d/m/Y H:i') }}</td>
                        <td>
                            {% if o.enabled %}
                                <span class="label label-success">Oui</span>
                            {% else %}
                                <span class="label label-danger">Non</span>
                            {% endif %}
                        </td>
                        <td>{{ o.disabledDate != null ? o.disabledDate | date('d/m/Y') }}</td>
                        <td class="line-actions">
                            <a href="{{ path('kgc_config_payment_edit', {'id': o.id}) }}" class="btn btn-xs btn-primary tooltip-primary modal-load"
                               role="button" title="Éditer" data-rel="tooltip" data-placement="left">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock widget_main %}
        
        {% block widget_body_after %}
            <a href="{{ path('kgc_config_payment_edit') }}" class="btn btn-block modal-load" role="button" title="Ajouter un moyen de paiement">
                <i class="icon-plus"></i> Ajouter un moyen de paiement
            </a>
        {% endblock %}
    {% endembed %}   
{% endblock body %}
