{# src/KGC/DashboardBundle/Resources/views/Config/sources_ved.list.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% set widget_options = {
            'titre' : 'Sources VED',
            'refresh' : '#config_sources_ved',
            'collapse' : true,
            'no_padding' : true
        } %}

        {% block widget_main %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th>Code</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.label }}</td>
                        <td>{{ o.code }}</td>
                        <td class="line-actions">
                            <a href="{{ path('kgc_config_source_ved_edit', {'id': o.id}) }}" class="btn btn-xs btn-primary tooltip-primary modal-load"
                               role="button" title="Éditer" data-rel="tooltip" data-placement="left">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock widget_main %}

        {% block widget_body_after %}
            <a href="{{ path('kgc_config_source_ved_edit') }}" class="btn btn-block modal-load" role="button" title="Ajouter une source">
                <i class="icon-plus"></i> Ajouter une source
            </a>
        {% endblock %}
    {% endembed %}
{% endblock body %}
