{# src/KGC/DashboardBundle/Resources/views/Config/sources_ved.edit.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}
        {% block modal_header %}
            {% set link = {
                'txt' : upd ? 'Édition de la source « ' ~ object.label ~ ' »' : 'Ajout de source',
                'url' : path('kgc_config_source_ved_edit',{'id':object.id}),
                'icon' : upd ? 'pencil' : 'plus'
            } %}
            {{ parent() }}
        {% endblock %}

        {% block modal_content %}
            <form id="tpe_config_modal" method="post" action="{{ path('kgc_config_source_ved_edit', {'id': object.id}) }}" {{ form_enctype(form) }} data-close="1" data-refresh="#config_sources_ved" class="ajax_modal_form form-horizontal">
                {{ parent() }}
                {{ form_widget(form._token) }}
            </form>
        {% endblock modal_content %}

        {% block modal_body %}
            <div class="row">
                <div class="col-md-12">
                    <strong>Label :</strong><br />
                    {{ form_widget(form.label) }}
                </div>
                <div class="col-md-12">
                    <strong>Code :</strong><br />
                    {{ form_widget(form.code) }}
                </div>
            </div>
        {% endblock modal_body %}

        {% block modal_footer %}
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="icon-remove"></i> Fermer</button>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success btn-block btn-sm">
                        <i class="icon-arrow-right"></i> Enregistrer
                    </button>
                </div>
            </div>
        {% endblock modal_footer %}
    {% endembed %}
{% endblock body %}
