{# src/KGC/DashboardBundle/Resources/views/Config/statisticRenderingRules.list.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% set widget_options = {
        'titre' : 'Règles de rendu statistique',
        'refresh' : '#config_statistic_rendering_rules',
        'collapse' : true,
        'no_padding' : true
        } %}

        {% block widget_main %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Colonne</th>
                    <th>Opérateur</th>
                    <th>Valeur</th>
                    <th>Couleur</th>
                    <th>Ratio</th>
                    <th>Actif</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                    {% set state = o.enabled %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.columnLibelle }}</td>
                        <td>{{ o.operator }}</td>
                        <td>{{ o.value }}</td>
                        <td>
                            <span style="width: 20px; height: 20px; display: block; background-color: {{ o.color }};"></span>
                        </td>
                        <td>
                            {% if o.isRatio %}
                                <span class="label label-success">Oui</span>
                            {% else %}
                                <span class="label label-danger">Non</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if state %}
                                <span class="label label-success">Oui</span>
                            {% else %}
                                <span class="label label-danger">Non</span>
                            {% endif %}
                        </td>
                        <td class="line-actions">
                            <a href="{{ path('kgc_config_statistic_rendering_rule_edit', {'id': o.id}) }}" class="btn btn-xs btn-primary tooltip-primary modal-load"
                               role="button" title="Éditer" data-rel="tooltip" data-placement="left">
                                <i class="icon-pencil"></i>
                            </a>
                            <a href="{{ path('kgc_config_statistic_rendering_rule_delete', {'id': o.id}) }}" class="btn btn-xs btn-primary tooltip-primary"
                               role="button" title="Supprimer" data-rel="tooltip" data-placement="left">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock widget_main %}

        {% block widget_body_after %}
            <a href="{{ path('kgc_config_statistic_rendering_rule_edit') }}" class="btn btn-block modal-load" role="button" title="Ajouter une règle de rendu statistique">
                <i class="icon-plus"></i> Ajouter une règle de rendu statistique
            </a>
        {% endblock widget_body_after %}
    {% endembed %}
{% endblock body %}
