{# src/KGC/DashboardBundle/Resources/views/Config/supports.edit.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}
        {% block modal_header %}
            {% set link = {
                'txt' : upd ? 'Édition du support « ' ~ object.libelle ~ ' »' : 'Ajout de support',
                'url' : path('kgc_config_support_edit',{'id':object.id}),
                'icon' : upd ? 'pencil' : 'plus'
            } %}
            {{ parent() }}
        {% endblock %}

        {% block modal_content %}
            <form id="tpe_config_modal" method="post" action="{{ path('kgc_config_support_edit', {'id': object.id}) }}" {{ form_enctype(form) }} data-close="1" data-refresh="#config_supports" class="ajax_modal_form form-horizontal">
                {{ parent() }}
                {{ form_widget(form._token) }}
            </form>
        {% endblock modal_content %}

        {% block modal_body %}
            <div class="row">
                <div class="col-md-5">
                    <strong>Libellé :</strong><br />
                    {{ form_widget(form.libelle) }}
                </div>
                <div class="col-md-5">
                    <strong>Tracker :</strong><br />
                    {{ form_widget(form.idtracker) }}
                </div>
                <div class="col-md-2">
                    <strong>Actif :</strong><br />
                    <div class="space-2"></div>
                    {{ form_widget(form.enabled) }}
                </div>
            </div>
            <div class="space-6"></div>
            <div class="row">
                <div class="col-md-12">
                    <strong>Profils pouvant utiliser ce support :</strong><br />
                    <div class="inline-choices">
                        {{ form_widget(form.profils) }}
                    </div>
                </div>
            </div>
        {% endblock modal_body %}

        {% block modal_footer %}
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="icon-remove"></i> Fermer</button>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success btn-block btn-sm">
                        <i class="icon-arrow-right"></i> Enregistrer
                    </button>
                </div>
            </div>
        {% endblock modal_footer %}
    {% endembed %}
{% endblock body %}
