{# src/KGC/DashboardBundle/Resources/views/Config/tarifications.simple.list.html.twig #}

{% extends not app.request.isXmlHttpRequest() ? '::layout.html.twig' : '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% set widget_options = {
            'titre' : 'Tarifications',
            'refresh' : '#config_tarification_simple',
            'collapse' : true,
            'no_padding' : true
        } %}

        {% block widget_main %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Multiplicateur</th>
                        <th>Création</th>
                        <th>Modification</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                    <tr>
                        <td>{{ o.libelle }}</td>
                        <td>{{ o.multiplicateur}}</td>
                        <td>{{ o.createdAt | date('d/m/Y H:i')}}</td>
                        <td>{{ o.updatedAt | date('d/m/Y H:i') }}</td>
                        <td class="line-actions">
                            <a href="{{ path('kgc_config_tarification_simple_edit', {'id': o.id}) }}" class="btn btn-xs btn-primary tooltip-primary modal-load"
                               role="button" title="Éditer" data-rel="tooltip" data-placement="left">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock widget_main %}
        
        {% block widget_body_after %}
            <a href="{{ path('kgc_config_tarification_simple_edit') }}" class="btn btn-block modal-load" role="button" title="Ajouter une tarification">
                <i class="icon-plus"></i> Ajouter une tarification
            </a>
        {% endblock %}
    {% endembed %}
{% endblock body %}
