{# src/KGC/RdvBundle/Resources/views/Planning/widget.html.twig #}

{% import _self as macros %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% use 'KGCUserBundle::listefichesProspect.html.twig' %}
        {% set widget_options = {
        'titre' : title | default('DRI') ~ ' - <b>' ~ paginator.totalItemsCount ~ ' résultats</b>',
        'header_class' : header_color | default('header-color-blue2'),
        'collapse' : collapse | default(true),
        'collapsed' : collapsed | default(false) or paginator.totalItemsCount == 0 and compact|default(false),
        'no_padding' : false,
        'refresh' : '#'~refresh | default('dri'),
            'exportable' : app.user.isAdmin()
        } %}

        {% block widget_main %}
            {% if paginator %}
                {% set fiches = paginator.elements %}
                {{ fiches|length > 0 ? block('tableau_fiches_dri') : '<table class="table"><tr><td>Aucun résultat</td></tr><table>' }}

                {% if fiches|length > 0 %}
                    <input type="hidden" id="kgc_userbundle_dri_page" name="kgc_userbundle_dri[page]" class="js-page-target form-control">
                    <div class="space-6"></div>
                    {{ macros.pager(paginator, compact|default(false)) }}
                {% endif %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock body %}


{% macro pager(paginator, compact) %}
    {% if paginator.totalPagesCount %}
        <div class="row align-center">
            {% if compact|default(false) %}
            <div class="col-lg-6">
                <h5>
                    {% else %}
                    <div class="col-lg-12">
                        {% endif %}
                        <strong>{{ paginator.totalItemsCount }}</strong> résultats.
                        Page <strong>{{ paginator.currentPage }}</strong> sur <strong>{{ paginator.totalPagesCount }}</strong>.
                        {% if compact|default(false) %}
                </h5>
            </div>
            <div class="col-lg-6">
                {% else %}
                    <br/>
                {% endif %}
                {% if paginator.totalPagesCount > 1 %}
                    <ul class="pagination no-margin">
                        <li><a href="#" class="js-page-target" data-page-target="1">&lt;&lt;</a></li>
                        <li><a href="javascript:void(0);">...</a></li>
                        {% for page in paginator.showPages %}
                            <li class="{{ page == paginator.currentPage ? 'active' : '' }}">
                                <a href="#" class="js-page-target" data-page-target="{{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li><a href="javascript:void(0);">...</a></li>
                        <li><a href="#" class="js-page-target" data-page-target="{{ paginator.totalPagesCount }}">&gt;&gt;</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="space-6"></div>
    {% endif %}
{% endmacro pager %}