{# src/KGC/RdvBundle/Resources/views/Planning/dri_form_widget.html.twig #}

{% import _self as macros %}

{% set SearchFormBlock %}
    {% block search_form %}
        <div class="row">
            <div class="col-lg-2 col-md-2">
                {{ form_row(form.begin) }}
            </div>
            <div class="col-lg-2 col-md-2">
                {{ form_row(form.end) }}
            </div>
            <div class="col-lg-2 col-md-2">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.state) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.website) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.sourceConsult) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.support) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.formurl) }}
            </div>
            <div class="col-lg-3 col-md-3">
                {{ form_row(form.codePromo) }}
            </div>
        </div>
    {% endblock search_form %}
{% endset %}

{% block body %}
    {% embed '::widgetlayout.html.twig' %}
        {% use 'KGCUserBundle::listefichesProspect.html.twig' %}

        {% set widget_options = {
        'titre' : 'Recherche rapide - <b>' ~ paginator.totalItemsCount ~ ' résultats</b>',
        'header_class' : header_color | default('header-color-blue2'),
        'collapse' : true,
        'collapsed' : paginator.totalItemsCount == 0,
        'no_padding' : true,
        'body_extra_class' : 'search-advanced' ~ (compact|default(false) ? ' compact'),
        'refresh' : '#form_dri',
        } %}

        {% block widget_main %}
            <form method="post" action="{{ path('kgc_prospect_dri_form') }}">
                {{ SearchFormBlock }}
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <button type="submit" class="save btn {{ button_color | default('btn-success') }} btn-block {{ compact|default(false) ? 'btn-sm' }}">Rechercher</button>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <button type="button" class="btn btn-info btn-block js-reset-empty {{ compact|default(false) ? 'btn-sm' }}">Effacer le formulaire</button>
                        <div style="display:none;">{{ form_rest(form) }}</div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="btn-group btn-block">
                            <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle btn-block">
                                Exporter
                                <span class="icon-caret-down icon-on-right"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-inverse">
                                <li><a role="button" href="{{ path('kgc_prospect_dri_form', { 'export':'1' }) }}" target="_blank">Fiches</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <div class="space-6"></div>
            {% if paginator %}
                {% set fiches = paginator.elements %}
                {{ fiches|length > 0 ? block('tableau_fiches_dri') : '<table class="table"><tbody><tr><td>Aucun résultat</td></tr></tbody></table>' }}

                <div class="space-6"></div>

                {{ macros.pager(paginator, compact|default(false)) }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock body %}


{% macro pager(paginator, compact) %}
    {% if paginator.totalPagesCount %}
        <div class="row align-center">
            {% if compact|default(false) %}
            <div class="col-lg-6">
                <h5>
                    {% else %}
                    <div class="col-lg-12">
                        {% endif %}
                        <strong>{{ paginator.totalItemsCount }}</strong> résultats.
                        Page <strong>{{ paginator.currentPage }}</strong> sur <strong>{{ paginator.totalPagesCount }}</strong>.
                        {% if compact|default(false) %}
                </h5>
            </div>
            <div class="col-lg-6">
                {% else %}
                    <br/>
                {% endif %}
                {% if paginator.totalPagesCount > 1 %}
                    <ul class="pagination no-margin">
                        <li><a href="#" class="js-page-target" data-page-target="1">&lt;&lt;</a></li>
                        <li><a href="javascript:void(0);">...</a></li>
                        {% for page in paginator.showPages %}
                            <li class="{{ page == paginator.currentPage ? 'active' : '' }}">
                                <a href="#" class="js-page-target" data-page-target="{{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li><a href="javascript:void(0);">...</a></li>
                        <li><a href="#" class="js-page-target" data-page-target="{{ paginator.totalPagesCount }}">&gt;&gt;</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="space-6"></div>
    {% endif %}
{% endmacro pager %}