E:\Sites\KGCOM\kgestion\src\KGC\ClientBundle\Resources\views\client\blocsficheClient.html.twig

{% block formtable %}
    <table class="table table-striped {{ table_class|default('') }}">
        {% for data in infos %}
            {% set form = data.form is defined ? data.form : null %}
            {% set collection = data.collection|default(false) %}
            {% set decrypt = data.decrypt|default(false) %}
            {% set btnCall = data.btnCall is defined and data.btnCall|default(false) %}
            {% set phone = data.phone is defined and data.phone|default(false) %}
            {% if form is not null %}
                {% set error = form.vars.errors|length > 0 ? true : false %}
                {% set class = form.vars.required and not form.vars.disabled ? ' blue' : '' %}
                {% set class = param.edit|default(false) and not form.vars.disabled ? ' text-orange' : class %}
                {% set class = error ? 'danger text-danger' : class %}
            {% endif %}
            {% if (btnCall and form.vars.value != '') or not btnCall %}
                <tr {{ data.trclass is defined ? 'class='~data.trclass }}  {{ data.trid is defined ? 'id='~data.trid }}>
                    <th id="label-{{ form.vars.id|default('') }}" class="{{ class|default('') }} {{ collection ? 'collection_field' }}" {{ error|default(false) ? 'rowspan=2' }} {{ collection ? 'colspan=3 data-adrprototype=#' ~ collection.id }}>
                        <span {{ collection ? 'style="line-height: 26px;"' }}>{{ data.lib }}</span>
                        {% if data.lib_form is defined and data.lib_form is not null %}
                            {{ form_widget(data.lib_form, {'attr':{'style':'float: right'} }) }}
                        {% endif %}
                        {% if data.lib2 is defined %}
                            <br/>{{ data.lib2 }}
                        {% endif %}
                        {% if data.tooltip_badge is defined and data.tooltip_badge is not null %}
                            <a class="debugdata tooltip-light pull-right" data-rel="tooltip" data-placement="right" title="{{ data.tooltip_badge.content }}" style="text-decoration:none">
                                <i class="icon-{{ data.tooltip_badge.icon|default('info-sign') }}"></i>
                            </a>
                        {% endif %}
                        {% if data.label is defined and data.label.content is not null %}
                            &nbsp;<span class="{{ data.label.badge is defined ? 'badge badge' : 'label label' }}-{{ data.label.color|default('default') }}">
                            {{ data.label.content }}
                        </span>
                        {% endif %}
                        {% if collection %}
                            <button type="button" id="{{ collection.id }}_addbutton" class="btn btn-xs btn-success pull-right collection_add" {{ form.vars.disabled or collection.disabled|default(false) ? 'disabled' }} {{ collection.not_enableable|default(false) ? 'data-enableable="0"' }}>
                                <i class="icon-plus bigger-110"></i> Ajouter
                            </button>
                            <table class="table table-bordered table-striped collection_fields_container" id="{{ collection.id }}_container" data-collection-childs="tr">
                                {{ form_widget(form) }}
                            </table>
                        {% endif %}
                        {% if decrypt %}
                            <button type="button" class="btn btn-xs btn-primary pull-right decrypt_event" >
                                Décrypter
                            </button>
                        {% endif %}
                    </th>
                    {% if data.editable|default(false) %}
                        {% if btnCall %}
                            <td colspan="2" style="min-width:54%" class="text-center">
                                <a title="" class="modal-load btn btn-xs btn-primary" href="{{ path('kgc_client_makecall',{'id':client.id, 'type': 'client', 'phone':data.lib}) }}" data-rel="tooltip" data-placement="right" data-original-title="Appeler">
                                    <i class="icon-phone bigger-120"></i> Appeler
                                </a>
                            </td>
                        {% else %}
                            <td style="min-width:54%">
                                {% if form is not null %}
                                    {{ form_widget(form) }}
                                {% else %}
                                    {{ data.content|raw }}
                                {% endif %}
                            </td>
                            <td style="width:60px">{{ data.editable|raw }}</td>
                        {% endif %}
                    {% elseif not collection %}
                        <td colspan="2" style="min-width:54%" {{ data.unified|default(false) ? 'colspan="2"' }}>
                            {% if form is not null %}
                                {% if data.id is defined %}
                                    {{ form_widget(form, { 'id': data.id}) }}
                                {%  else %}
                                    {{ form_widget(form) }}
                                {%  endif %}
                            {% else %}
                                {{ data.content|raw }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if error|default(false) %}
                <tr>
                    <td class="danger text-danger" {{ data.editable is defined ? 'colspan="2"' }}>{{ form_errors(form) }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="2" class="well">Aucune Donnée.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock formtable %}

{% block widgetbox %}
    <div class="widget-box{{ param.collapsed|default(false) ? ' collapsed' }}{{ param.transparent|default(false) ? ' transparent' }}">
        <div class="widget-header widget-header-small header-color-{{ param.edit|default(false) ? 'orange' : param.color_class|default('blue2') }} {{ param.error|default(false) ? 'red' }}">
            <h5>
                <a data-action="collapse" href="#">
                    <i class="icon-chevron-{{ param.collapsed|default(false) ? 'down' : 'up' }}"></i>
                    &nbsp;{{ param.titre|default('')|raw }}
                    {{ param.error|default(false) ? '<i class="icon-warning-sign"></i>' }}
                </a>
            </h5>
            {% if param.debugdata|default(null) is not null %}
                <a class="debugdata tooltip-light" data-rel="tooltip" title="id : {{ param.debugdata }}" data-placement="right">
                    <i class="icon-cog"></i>
                </a>
            {% endif %}
            {% if param.blockedit is defined and param.blockedit is not null %}
                <div class="widget-toolbar no-border">
                    {{ form_widget(param.blockedit) }}
                </div>
            {% endif %}
            {% if param.toolbar_links is defined and param.toolbar_links is not empty %}
                <div class="widget-toolbar no-border">
                    {% for link in param.toolbar_links %}
                        <a class="modal-load"
                                href="{{ link.path }}"
                                data-rel="tooltip" title="{{ link.title }}">
                            <i class="icon-{{ link.icon }}"></i>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="widget-body no-padding">
            {% if param.infos is defined %}
                {% set infos = param.infos %}
                {{ block('formtable') }}
            {% elseif param.body is defined %}
                {% if param.padding_body|default(false) %}<div class="widget-main">{% endif %}
                {{ param.body }}
                {% if param.padding_body|default(false) %}</div>{% endif %}
            {% else %}
                <p class="center" style="margin:0;padding:10px"><i class="icon-{{ param.icon|default('time') }} bigger-240"></i></p>
            {% endif %}
        </div>
    </div>
{% endblock widgetbox %}

{% block widgetbox_info %}
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-{{ param.edit|default(false) ? 'orange' : param.color_class|default('blue2') }} {{ param.error|default(false) ? 'red' }}">
            <h5>
                <a data-action="collapse" href="#">
                    <i class="icon-chevron-up"></i>
                    &nbsp;Informations clients
                </a>
            </h5>
        </div>
        <div class="widget-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>
                        <span>Inscrit depuis le </span>
                    </th>
                    <td style="min-width:54%" class="center">
                        {{ client.getFirstDateProspect()|date('d/m/Y H:i') }}
                    </td>
                </tr>
                {% if client.consultations|length %}
                    <tr>
                        <th>
                            <span>Dernière consultation le </span>
                        </th>
                        <td style="min-width:54%" class="center">
                            {{ client.consultations.first.dateConsultation|date('d/m/Y H:i') }}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>
                        <span>Nb de consultations </span>
                    </th>
                    <td style="min-width:54%" class="center">
                        {{ client.getNbConsultations() }}
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Nb de suivis</span>
                    </th>
                    <td style="min-width:54%" class="center">
                        {{ client.getNbConsultationsSuivi() }}
                    </td>
                </tr>
                {% if client.consultations|length %}
                    <tr>
                        <th>
                            <span>Montant impayé </span>
                        </th>
                        <td style="min-width:54%" class="center">
                            {{ client.getTotalUnpayed()|round(2,'floor') }} €
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>TMC consultation</span>
                        </th>
                        <td style="min-width:54%" class="center">
                            {{ client.getTMCConsultation()|round(2,'floor') }} min
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <span>TMC suivi</span>
                        </th>
                        <td style="min-width:54%" class="center">
                            {{ client.getTMCSuivi()|round(2,'floor') }} min
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock widgetbox_info %}

{% block widgetbox_prospects %}
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-{{ param.edit|default(false) ? 'orange' : param.color_class|default('blue2') }}  {{ param.error|default(false) ? 'red' }}">
            <h5>
                <a data-action="collapse" href="#">
                    <i class="icon-chevron-up"></i>
                    &nbsp;Fiche prospect du client
                </a>
            </h5>
        </div>
        <div class="widget-body no-padding">
            {{ include('KGCUserBundle:Prospect:detail_table.html.twig',{'list':prospects}) }}
        </div>
    </div>
{% endblock widgetbox_prospects %}

{% block widgetbox_consultations %}
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-{{ param.edit|default(false) ? 'orange' : param.color_class|default('blue2') }} {{ param.error|default(false) ? 'red' }}">
            <h5>
                <a data-action="collapse" href="#">
                    <i class="icon-chevron-up"></i>
                    &nbsp;Historique des consultations téléphoniques
                </a>
            </h5>
        </div>
        <div class="widget-body no-padding">
            {{ include('KGCRdvBundle:Consultation:rdv_table_client.html.twig',{'list':consultations}) }}
        </div>
    </div>
{% endblock widgetbox_consultations %}

{% macro coordonneesbancaires(options) %}
    {% if options.form is defined %}
        {% set form = options.form %}
        <div class="widget-box {{ options.collapsed|default(false) ? 'collapsed' }}">
            <div class="widget-header widget-header-small header-color-blue2">
                <h5>
                    <a data-action="collapse" href="#">
                        <i class="icon-chevron-{{ options.collapsed|default(false) ? 'down' : 'up' }}"></i>
                        &nbsp;Coordonnées bancaires
                    </a>
                </h5>
                {% if options.form_edit|default(false) %}
                    <div class="widget-toolbar no-border">
                        {{ form_widget(options.form_edit.cartebancaires) }}
                    </div>
                {% endif %}
            </div>
            <div class="widget-body widget-cb no-padding center">
                {% if options.simple|default(false) %}{# affichage simple #}
                    {% set cartebancaire = form.cartebancaires['__name__']|default(form.cartebancaires.vars.prototype) %}
                    {{ _self.cartebancaires_prototype(cartebancaire) }}
                    {% if form.new_card_send_choice is defined %}
                        <div class="card_new_send_div">
                            {{ form_widget(form.new_card_send_choice) }}
                        </div>
                    {% endif %}
                {% else %}{# affichage collection #}
                    <div id="cartebancaire_collection" class="tabbable collection_field" data-adrprototype="#collection_cartebancaires_prototype_client">
                        <div id="collection_cartebancaires_prototype_client" data-prototype="{{ _self.cartebancaires_prototype_add(form.cartebancaires.vars.prototype, true)|e }}"></div>
                        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" data-selection-input-id="{{ form.cartebancaires_selected.vars.id }}">
                            {% for i, cb in form['cartebancaires'] %}
                                <li class="{{ form.cartebancaires_selected.vars.value == i ? 'active' }}">
                                    <a href="#tab-client-{{ cb.nom.vars.value|trim }}" data-toggle="tab" data-selected-index="{{ i }}">
                                        {{ cb.nom.vars.value|trim }}
                                        {% if cb.vars.data.interdite %}
                                            <span class="label arrowed-right" title="Carte bancaire interdite">CBI</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="#" id="add_cartebancaire" class="collection_add" {{ editable|default(false) ? 'disabled readonly originaly-disabled="1"' }} disabled>
                                    <i class="icon-plus" style="color: inherit;"></i> Ajouter
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content collection_fields_container" data-collection-childs="div.tab-pane">
                            {% for i, cb in form['cartebancaires'] %}
                                <div id="tab-client-{{ cb.nom.vars.value }}" class="tab-pane in {{ form.cartebancaires_selected.vars.value == i ? 'active' }} no-padding">
                                    {{ _self.cartebancaires_prototype(cb) }}
                                </div>
                            {% endfor %}
                        </div>
                        {% if form.new_card_send_checkbox is defined %}
                            <div class="card_send_div">
                                {{ form_widget(form.new_card_send_checkbox) }}
                                <div class="buttons">
                                    {% set rdv = options.form.vars.data %}
                                    {% set url = "#{myastro_url}#{myastro_prefix}/validate-cb/#{rdv.newCardHash}" %}
                                    <a href="{{ url }}" target="_blank">{{ myastro_url ~ myastro_prefix ~ '/...' }}</a>
                                    {{ form_widget(form.new_card_send_by_mail, {attr: {class: 'btn btn-sm btn-success', 'data-url': path('kgc_rdv_send_card_link', {id: rdv.id, type: 'mail'})}}) }}
                                </div>
                            </div>
                        {% endif %}
                        {{ form_widget(form.cartebancaires_selected) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro coordonneesbancaires %}

{% macro cartebancaires_prototype_add(cb, edit) %}
    {{ form_widget(cb.nom) }}
    {% set infos = {
    1 : {
    'lib' : 'debit_card.info.number' | trans,
    'form' : cb.numero,
    }, 2 : {
    'lib' : 'debit_card.info.date' | trans,
    'form' : cb.expiration
    }, 3 : {
    'lib' : 'debit_card.info.cipher' | trans,
    'form' : cb.cryptogramme
    }
    } %}
    {% if cb.vars.value.paymentAliases is defined and cb.vars.value.paymentAliases is not null %}
        {% set aliasList = '' %}
        {% for alias in cb.vars.value.paymentAliases.toArray %}
            {% set aliasList = aliasList is empty ? (alias.gateway|payment_gateway_to_label) : aliasList ~ ', ' ~ (alias.gateway|payment_gateway_to_label) %}
        {% endfor %}
        {% if aliasList is not empty %}
            {% set infos = infos|merge({
            4 : {
            'lib' : 'Alias',
            'content' : '<input type="text" disabled="disabled" value="' ~ aliasList ~ '" />'
            }
            }) %}
        {% endif %}
    {% endif %}
    {{ block('formtable') }}
{% endmacro %}

{% macro cartebancaires_prototype(cb, edit) %}
    {{ form_widget(cb.nom) }}
    {% set infos = {
    1 : {
    'lib' : 'debit_card.info.number' | trans,
    'form' : cb.numero,
    'trclass' : cb.numero.vars.attr.hide ? : 'class',
    'trid' : 'numeroCb'
    }, 2 : {
    'lib' : 'debit_card.info.number' | trans,
    'form' : cb.maskedNumber,
    'trclass' : cb.maskedNumber.vars.attr.hide ? : 'class',
    'trid' : 'numeroMaskedCb',
    'id' : 'maskedNumber',
    'decrypt' : cb.maskedNumber.vars.attr.decrypt ? : false
    }, 3 : {
    'lib' : 'debit_card.info.date' | trans,
    'form' : cb.expiration
    }, 4 : {
    'lib' : 'debit_card.info.cipher' | trans,
    'form' : cb.cryptogramme
    }
    } %}
    {% if cb.vars.value.paymentAliases is defined and cb.vars.value.paymentAliases is not null %}
        {% set aliasList = '' %}
        {% for alias in cb.vars.value.paymentAliases.toArray %}
            {% set aliasList = aliasList is empty ? (alias.gateway|payment_gateway_to_label) : aliasList ~ ', ' ~ (alias.gateway|payment_gateway_to_label) %}
        {% endfor %}
        {% if aliasList is not empty %}
            {% set infos = infos|merge({
            4 : {
            'lib' : 'Alias',
            'content' : '<input type="text" disabled="disabled" value="' ~ aliasList ~ '" />'
            }
            }) %}
        {% endif %}
    {% endif %}
    {{ block('formtable') }}
{% endmacro %}

{% macro client(options, btnCall) %}
    {% set form = options.form|default(false) %}
    {% set editable = options.form_edit|default(false) %}
    {% set client = form.vars.value %}
    {% set param = {
    'titre' : options.titre|default('Coordonnées Client'),
    'debugdata' : client.id|default(null),
    'infos' : form ? {
    1 : {
    'lib': 'client.info.prenom' | trans,
    'form' : form.prenom,
    'editable' : editable and editable.prenom is defined ? form_widget(editable.prenom) : false
    }, 2 : {
    'lib' : 'client.info.nom' | trans,
    'form' : form.nom,
    'editable' : editable and editable.nom is defined ? form_widget(editable.nom) : false
    }, 3 : {
    'lib' : 'client.info.genre' | trans,
    'form' : form.genre,
    'editable' : editable and editable.genre is defined ? form_widget(editable.genre) : false
    }, 4 : {
    'lib' : 'client.info.dateNaissance' | trans,
    'lib2' : client is not null ? '(' ~ (client.dateNaissance | age) ~ ' ans - ' ~ (client.dateNaissance | astro) ~ ')',
    'form' : form.dateNaissance,
    'editable' : editable and editable.dateNaissance is defined ? form_widget(editable.dateNaissance) : false
    }}} %}
    {%  if not is_granted('ROLE_VOYANT') and form.numtel1 is defined and form.numtel1.vars.attr.btnCall is defined %}
        {% set param = param|merge({'infos':param.infos|merge({
        5 : {
        'lib' : 'client.info.phone' | trans,
        'form' : form.numtel1,
        'editable' : editable ? form_widget(editable.numtel1) : false,
        'btnCall' : true
        }, 6 : {
        'lib' : 'client.info.phone2' | trans,
        'form' : form.numtel2,
        'editable' : editable ? form_widget(editable.numtel2) : false,
        'btnCall' : true
        }
        }) }) %}
    {% elseif not is_granted('ROLE_VOYANT') and form.numtel1 is defined %}
        {% set param = param|merge({'infos':param.infos|merge({
        5 : {
        'lib' : 'client.info.phone' | trans,
        'form' : form.numtel1,
        'editable' : editable ? form_widget(editable.numtel1) : false
        }, 6 : {
        'lib' : 'client.info.phone2' | trans,
        'form' : form.numtel2,
        'editable' : editable ? form_widget(editable.numtel2) : false
        }
        }) }) %}
    {% endif %}
    {% set param = param|merge({'infos':param.infos|merge({
    7 : {
    'lib' : 'client.info.email' | trans,
    'form' : form.mail,
    'editable' : editable ? form_widget(editable.mail) : false
    }, 8 : {
    'lib' : 'client.info.address' | trans,
    'form' : form.adresse,
    'editable' : editable ? form_widget(editable.adresse) : false
    }
    }) }) %}
    {{ block('widgetbox') }}
{% endmacro client %}

{% macro infos_client(client) %}
    {{ block('widgetbox_info') }}
{% endmacro infos_client %}

{% macro prospects(prospects) %}
    {{ block('widgetbox_prospects') }}
{% endmacro prospects %}

{% macro consultations(consultations) %}
    {{ block('widgetbox_consultations') }}
{% endmacro consultations %}

{% macro rdv_form_footer(options) %}
    <div class="modal-footer">
        {% set no_close = options.no_close|default(false) %}
        {% set retour = options.retour|default(false) %}
        {% set no_modal = options.no_modal|default(false) %}

        {% set selectDate = app.request.query.get('select_date') %}

        <div class="pull-left">
            {% if not no_close %}
                <a class="btn btn-sm btn-danger pull-left" title="Fermer"
                        {{ no_modal ? 'href='~ options.url_close|default('') : ' data-dismiss=modal' }}
                        {{ retour or selectDate is not null ? 'style="padding-left: 4px;padding-right: 2px;"' }}>
                    <i class="icon-remove"></i>{{ not retour and selectDate is null ? ' Fermer' }}
                </a>
                {% if retour %}
                    <a id="retour_fiche" href="{{ path('kgc_client_fichee',{'id':options.client.id}) }}" class="btn btn-sm btn-grey {{ not no_modal ? 'modal-load' }}" style="margin-left:0">
                        <i class="icon-arrow-left"></i> Retour à la fiche
                    </a>
                {% endif %}

            {% endif %}
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-sm btn-primary" style="display:inline-block">
                Enregistrer les modifications
            </button>
        </div>
    </div>
{% endmacro rdv_form_footer %}

{% macro rdv_form_header(client, close) %}
    <div class="barre-info">
        {% if close|default(false) %}
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        {% endif %}
        <ul>
            <li class="label label-transparent">
                <a href="{{ path('kgc_client_fiche',{'id':client.id}) }}" class="modal-load" tile="Ouvrir la fiche" data-rel="tooltip">
                    <i class="icon-file"></i>
                    Fiche n°{{ client.id }}
                </a>
            </li>
        </ul>
    </div>
{% endmacro rdv_form_header %}
