{% extends '::emptylayout.html.twig' %}

{% block body %}
    {% embed '::modallayout.html.twig' %}

        {% block modal_title %}
            Détails : {{ title }}
            {% set request_args = app.request.get('_route_params') | merge(app.request.query.all) | merge({ 'export': 1 }) %}
            <a title="Export Excel (.csv)" href="{{ path(app.request.get('_route'), request_args) }}">
                <i class="icon-download-alt"></i>
            </a>
        {% endblock modal_title %}

        {% block modal_body %}
            <table class="table table-striped valign-middle">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Mail</th>
                        <th>Prénom</th>
                        <th></th>
                    </tr>
                </thead>
                <tboby>
                    {% for elem in list %}
                        <tr>
                            <td>{{ elem.chatFormulaRate.chatFormula.website }}</td>
                            <td>{{ elem.client.mail }}</td>
                            <td>{{ elem.client.prenom }}</td>
                            <td class="line-actions">
                                <a data-original-title="Fiche client" href="{{ path('kgc_clients_show', {'id': elem.client.id}) }}" target="_blank" class="btn btn-xs btn-primary tooltip-primary" role="button" title="" data-rel="tooltip" data-placement="left"><i class="icon-file"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        {% endblock modal_body %}
    {% endembed %}
{% endblock body %}
