{% extends "KGCDashboardBundle::layout.html.twig" %}

{% block ariane %}
    {% set fil = ['Administration'] %}
    {{ parent() }}
{% endblock %}


{% block page_header %}
    <div class="page-header">
        <div class="pull-right">
            <a class="ajax_reload close" href="#psychic_Averages,#psychic_Products,#psychic_Oppos,#psychic_CA,#psychic_Counts,#psychic_Salary,#psychic_Bonus" title="Recharger">
                <i class="icon-refresh"></i>
            </a>
        </div>
        <h1>
            Statistiques Voyant de {{ consultant.username|default('tous')|capitalize }}
            <small>
                <form action="" method="post" class="form-inline">
                    {% if not psychic_mode %}
                    <i class="icon-double-angle-right"></i> Consultant :
                    {{ form_widget(form.consultant) }}
                    {% endif %}
                    <i class="icon-double-angle-right"></i> Période :
                    {{ form_widget(form.period_base.begin) }}
                    {{ form_widget(form.period_base.end) }}
                    {{ form_widget(form._token) }}
                    <button type="submit" class="btn btn-success btn-xs">
                        <i class="icon-arrow-right"></i> Appliquer
                    </button>
                </form>
            </small>
        </h1>
    </div>
{% endblock %}

{% block dashboard_body %}
    <div class="row">
        <div class="col-lg-12">
            {{ include('KGCStatBundle:Admin:ca_table.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% if app.user.isVoyant() or app.user.isManagerVoyant() or app.user.isAdmin() %}
            <form method="post" action="{{ path('kgc_stat_admin_psychicAverages', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Averages"></form>
            <div class="space"></div>
            {% endif %}
            <form method="post" action="{{ path('kgc_stat_admin_psychicProducts', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Products"></form>
        </div>
        <div class="col-lg-4">
            <form method="post" action="{{ path('kgc_stat_admin_psychicCA', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_CA"></form>
            <div class="space"></div>
            <form method="post" action="{{ path('kgc_stat_admin_psychicCounts', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Counts"></form>
        </div>
        <div class="col-lg-4">
            <form method="post" action="{{ path('kgc_stat_admin_psychicOppos', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Oppos"></form>
            <div class="space"></div>
            {% if consultant.salaryStatus|default(null) is not null %}
            <form method="post" action="{{ path('kgc_stat_admin_psychicSalary', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Salary"></form>
            {% else %}
            <form method="post" action="{{ path('kgc_stat_admin_psychicBonus', { 'idconsultant':consultant.id|default(0) }) }}" class="form-search form-search-ajax ajax_load" id="psychic_Bonus"></form>
            {% endif %}
        </div>
    </div>

{% endblock %}
